<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Utilizador</title>
</head>
<body>
    <h1>Bem-vindo, {{ detalhes.nome }}!</h1>
    <ul>
        <li><strong>NIF:</strong> {{ detalhes.nif }}</li>
        <li><strong>Data de Nascimento:</strong> {{ detalhes.data_nascimento }}</li>
        <li><strong>Saldo:</strong> € {{ detalhes.saldo }}</li>
        <li><strong>IBAN:</strong> {{ detalhes.iban }}</li>
    </ul>

    <a href="{% url 'logout' %}">Sair</a>
</body>
</html>
